
<div class="col-md-1"></div>
<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
<div class="form">
   {{ form (searchForm) }}
</div>
        </div>
    </div>

</div>
